body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-padding {
  padding: 60px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

/**media Queries**/

.navbar-default {
  background-color: transparent;
}

.main-header {
  /* background: url(../img/nav.png) no-repeat; */
  background-size: cover;
  min-height: 610px;
  /* margin-left: 157px; */
}

.bg-color {
  background-color: #fff;
}

.nav>li>a {
  padding: 0px;
  color: #000
}

.navbar-brand {
  padding: 0px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
  color: #5e5e5e;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFF;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  padding: 10px 6px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

.navbar-fixed-top {
  padding: 40px 0;
  transition: all 0.5s;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.8);
		border-top: 0;
	}
}

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}

.wrapper {
  padding: 90px 0px 130px;
}

.top-title {
  z-index: 5;
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  line-height: 38px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.sub-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 71px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.title {
  font-size: 47px;
  font-weight: 100;
  color: #ffffff;
  line-height: 88px;
  letter-spacing: 4px;
  opacity: 1;
  padding: 25px 0px;
  position: absolute;
  top: -501px;
  z-index: 9999;
  left: 30.3%;
  font-family: Gill Sans MT;
  width: 53%;
  text-align: left;
}

.btn-submit {
 
    border: 0px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
    font-family: Gill Sans MT;
    background-color: #00ffff00;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
}
.contact{
  position: absolute;
  bottom: 112px;
  left: 31%;
  padding: 0;
  border-bottom: 2px solid #fff;
}
.btn-submit:hover {
  background:#ffffff2e;

}

/****/

#cta-1 {
  padding: 40px 0px;
}

.cta-info {
  border: 5px solid #FFD34E;
  padding: 40px 0px;
}

.cta-info h3 {
  font-size: 24px;
}

.dec-tec {
  font-size: 34px;
}

/****/

#feature {
  background-color: #f8f8f8;
}

.head-title {
  color: #2b2b2b;
  font-size: 32px;
  font-weight: 700;
}

.botm-line {
  background-color: #2b2b2b;
  width: 34px;
  height: 3px;
  display: inline-block;
}

.section-title:hover .botm-line {
  width: 70px;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: width;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
  /* Standard syntax */
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

p {
  color: #888;
}

.icon {
  position: relative;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 14px;
  margin-bottom: 20px;
}

.icon i {
  font-size: 35px;
}

.icon-text {
  margin-left: 73px;
  padding: 0px 25px 25px 0px;
}

h3.txt-tl {
  font-size: 24px;
  line-height: 1.35;
}

/****/

.parallax {
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center center;
}

.bg-image-2 {
  background: url('../img/subscribe.png') no-repeat center fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section {
  position: relative;
  padding: 88px 0 67px 0;
  display: block;
}

.cta-txt h3 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #fff;
}

.cta-txt p {
  color: #fff;
}

/****/

.portfolio-box {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px;
}

#contact {
  background-color: #000;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show, #errormessage.show, .show {
  display: block;
}

.black {
  color: #000 !important;
  font-weight: 600;
}

.btn-send {
  border-radius: 0px;
  color: #000;
  background-color: #FFD34E;
}

a, a:hover {
  color: #FFD34E;
}

.cont-title {
  font-size: 24px;
  padding: 15px 0px;
}

.location-info p span {
  display: inline-block;
}

.location-info p span {
  width: 40px;
  font-size: 24px;
  color: #666;
  vertical-align: middle;
}

.location-info p {
  margin-bottom: 5px;
}

.location-info p {
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.contact-icon-container {
  position: absolute;
  top: -38px;
  right: 0;
  padding-right: 20px;
  font-size: 320px;
  color: #555;
  line-height: 300px;
  -ms-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

/****/

#footer {
  background-color: #191919;
  padding: 20px 0px;
}

.footer-copyright {
  color: #fff;
  line-height: 32px;
}

.footer-social {
  float: right;
}

.footer-social a {
  font-size: 18px;
  color: #666;
}

.link-dec, .link-dec:hover {
  color: #000;
}
/****/
.navbar-default .navbar-brand {
  text-transform: lowercase;
  width: 150px;
  letter-spacing: 12px;
  color: #5e5e5e
}
small{
  font-size: 21% !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    font-weight: 500;
    margin-top: 1px;
    color: #333;
}
.navbar-default .navbar-brand span{
  float: left;
  -webkit-transform: rotate(-180deg);
  margin-top: 8px;
  margin-right: 6px;
}
.bgCover{
  position: relative
}

.cover{
  position: absolute;
    top: 0;
    left: 15px;
    width: 132%;
    background-color: #00000061;
    height: 100%;
    z-index: 1
}
.rightdesgin{
  background-color: #2B2C2B;
  height: 661px;
  margin-top: -536px;
  z-index: -2;
  margin-left: -31px;
}
hr {
  margin-top: 43px;
    margin-right: 6%;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #f7941d;
    width: 12%;
    float: left;
}
.underBorder{
  background-color: #f7941e;
  width: 132%;
  height: 27%;
  margin-left: -13px;
  position: absolute;
  z-index: -1;
  bottom: -17px;
}
.desginBox{
  top: 88.6%;
  left: 156px;
  width: 211px;
  height: 200px;
  background: #2b2c2b 0% 0% no-repeat padding-box;
  position: absolute;
  z-index: 9;
}
/****/
@media (min-width: 500px) and (max-width: 1260px) {
  .desginBox{
    display: none;
  }

  .fa{
    color: #f7941e;
  }
 .title{
   width: 100%;
 }
}
/* @media (min-width: 451px) and (max-width: 900px) {
 
} */

@media (min-width: 20px) and (max-width: 450px) {
  .navbar-toggle:hover, .navbar-toggle {
    background-color: #fff;
    color: #000;
  }

  .navbar-default .navbar-brand{
    color: #fff;
  }
 
}
/* about  */
#about *{
  font-family: Gill Sans MT;
}
#about .about-part1{
  position: relative;
}

#about .pageAbout,.pageAbout1{
  width: 110px;
  height: 400px;
  background: #f7941d;
  position: absolute;
  top: 23%;
  left: 25%;
}
#about .pageAbout1{
  top: 115%;
  height: 70px;
}
#about .about2{
  position: absolute;
  top: 37%;
  left: 16%;
  width: 75%;
}
#about #feature {
  padding-left: 5%;
  background-color: #ffffff;
}
#about .botm-line{
  margin-top: 18px;
  background-color:transparent;
}
#about p{
  color: #2B2C2B;
  width: 81%;
  text-align: left;
  font-size: 18px;
  line-height: 1.8;
}
#about button{
  color: #222;
  text-transform: initial;
  font-weight: 100;
  font-size: 18px;
  border: 1px solid #9e9e9eb5;
  border-radius: 12px;
  background-color: #fff;
}
#about .section-title{
  margin-top: 22%;
}
@media (min-width: 552px) and (max-width: 992px) {
  #about .about-part2{
      text-align: center;
      padding-top: 80px;
      padding-left: 10% !important;
  }
  #about #feature {
      padding-left: 0%;
  }
  #about .botm-line{
      margin-right: 5%;
  }
  #about .about2{
      width: 57%;
  }
  #about .section-title {
      margin-top: 31%;
  }
}
@media (min-width: 20px) and (max-width: 551px) {
  #about .about2{
      width: 87%;
  }
  #about .pageAbout1{
      top: 100%;
      height: 115px;
  }
  #about .pageAbout {
      height: 303px;
  }
  #about .botm-line{
      margin-right: 5%;

  }
  #about .section-title {
      margin-top: 33%;
  }
}
/* service */
.service1{
  background: #2B2C2B;
  height: 295px;
}
#services .head-title{
  color:#fff
}
#services .section-title{
  padding-left: 30%;
  padding-top: 77px;
}
#services .botm-line{
  margin-top: 35px;
  background-color: transparent
}
#services .design{
  width: 300px;
  height: 186px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  padding: 50px;
  position: relative;
}
#services p{
  color: #2c2d2c;
  margin-top: 26px;
  font-size: 18px;
}
#services .fa-arrow-right:before {
  content: "\f061";
  position: absolute;
  right: 20px;
  bottom: 36px;
}
#services .it{
  margin: 54px 91px;
}
#services .it p{
  width: 75%;
}
#services .elearning{
  background-color: #F7941D;
}
#services .elearning p{
  color: #fff
}
#services a:hover .design{
  opacity: .5;
  transition: all 1s;
}
@media (min-width: 992px) and (max-width: 1022px) {
  #services .design{
      width: 280px;
  }
  #services .service1 .design{
      margin-left: -91px;
  }
  #services .botm-line{
      margin-left: -35%;
  }
}
@media (min-width: 860px) and (max-width: 991px){
  #services .section-title{
      margin-left: 27%;
  }
  #services .botm-line{
      margin-left: -13%;
  }
  #services .service1 .design{
      margin-top: -35%;
  }
  #services .service1{
      margin-bottom: 1%;
  }
}
@media (min-width: 20px) and (max-width: 859px){
  #services .section-title{
      margin-left: -29%;
      margin-top: -40px;
  }
  #services .it p {
      width: 108%;
  }
  #services .botm-line{
      margin-left: -13%;
  }
  #services .service1 .design{
      margin-top: -35%;
      margin-left: 33%;
      width: 80%;
  }
  #services .design{
      width: 100%;
  }
  #services .service1{
      margin-bottom: 1%;
  }
}
/* partners */
#ourPartners .section-padding{
  background: #f1f1f1;
  padding: 60px 0px 14px;
}
#ourPartners hr{
  margin: auto;
  position: absolute;
  margin-left: 38%;
  width: 21%;
  border-radius: 10px;
  margin-top: 16px;
  z-index: -1;
}
#ourPartners .head-title{
  width: 16%;
  margin: auto;
  background-color: #f1f1f1;
}
#ourPartners .img1,.img2{
  padding: 18%;
}
#ourPartners .img2{
  padding-top: 11%;
}
#ourPartners .img-responsive{
  margin: auto;
}
/* verticals AI */
#vertical *{
  font-family: Gill Sans MT;
}
#vertical .about-part1{
  position: relative;
  padding-top: 5%;
}

#vertical .pageAbout1{
  width: 110px;
  background: #f7941d;
  position: absolute;
  top: 79%;
  height: 125px;
  left: 72%;
}
#vertical .pageAbout{
  width: 75%;
  height: 100px;
  background-color: #FF9800;
  position: absolute;
  left: 15%;
  z-index: -1;
  top: 9%;
}
#vertical .about2{
  width: 77%;
  margin-left: 24%;
}
#vertical #feature2 {
  background-color: #ffffff;
}
#vertical .botm-line{
  margin-top: 18px;
  background-color:transparent;
}
#vertical p{
  color: #2B2C2B;
  width: 76%;
  text-align: left;
  font-size: 17px;
  line-height: 1.8;
}
#vertical button{
  color: #222;
  text-transform: initial;
  font-weight: 100;
  font-size: 18px;
  border: 1px solid #9e9e9eb5;
  border-radius: 12px;
  background-color: #fff;
}
@media (min-width: 20px) and (max-width: 992px){
  #vertical .pageAbout{
      top: 3%;
  }
}
/* customers */
#ourCustomers .section-padding{
  background: #fff;
  
}
#ourCustomers hr{
  margin: auto;
  position: absolute;
  margin-left: 38%;
  width: 21%;
  border-radius: 10px;
  margin-top: 16px;
  z-index: -1;
}
#ourCustomers .head-title{
  width: 16%;
  margin: auto;
  background-color: #fff;
}

#ourCustomers .img-responsive{
  margin: auto;
}
/* work */
#work h2{
  text-align: center;
  color: #F7941D;
}
#work p{
  text-align: center;
  color: #2B2C2B;
}
#work button{
  width: 190px;
  height: 60px;
  background-color: #F7941D;
  border-radius: 5px;
}
/* subscribe */
.subscribe .section-padding{
  position: relative;
} 
.subscribe .cover{
  margin-left: -17px;
  position: absolute;
  width: 100%;
  background-color: #00000063;
  z-index: 0;
}
.subscribe .head-title{
  color: white;
}
.subscribe input{
  padding: 18px;
  border: none;
  border-radius: 3px;
  width:50%;
  height: 60px;
  margin-right: 50px;
}
.subscribe button{
  color: white;
  width: 190px;
  height: 60px;
  background: #F7941D 0% 0% no-repeat padding-box;
}
/* footer */
#contact .section-padding,#footer{
  background-color: #000 !important;
}
#contact .navbar-brand {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  width: 150px;
  letter-spacing: 12px;
  margin-left: 18px;
}

#contact small{
  font-size: 21% !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
}
#contact .navbar-brand span{
  float: left;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-top: 8px;
  margin-right: 6px;
}

#contact p{
  width: 244px;
  height: 138px;
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-family: Gill Sans MT;
  padding-left: 31px;
}
#contact h3{
  color: #fff;
  font-family: Gill Sans MT;
}
#contact ul {
  color: #fff;
  list-style: disc;
}
#contact .Social ul{
  list-style: none;
  margin-left: -40px;
}
#contact .fa{font-size: 20px;}
#contact .fa-twitter {
  color: #FF9800;
}
#contact a{color: #fff;}
#footer hr{
  width: 100%;
  border: 1px solid #9E9E9E;
}
#contact .Social .col-xs-4 {
  width: 9.333333%;
}


